Repository KrizRoMe/portfolio-v2: changes, and which lefthook commands are due for each by the changed paths.
All: pretty, linter

pretty:
  run: npm run format:astro {staged_files}

linter:
  run: npm run lint:fix {staged_files} && git add {staged_files}

chore(project): :gear: add v0 template as a guide
  src/pages/index.astro
Due: pretty

chore(lefthook): :gear: add commit-msg validate
  git_hook/commit_msg.js
  lefthook.yml
Due: linter

style(project): :nail_care: add tailwind config
  astro.config.mjs
  bun.lockb
  package.json
Due: none

chore(project): :gear: update lefthook config
  lefthook.yml
Due: none

feat(project): :star: add header component
  src/assets/index.ts
  src/assets/layout/header/MoonSvg.astro
  src/assets/layout/header/SunSvg.astro
  src/components/Welcome.astro
  src/components/index.ts
  src/components/layout/header/Header.astro
  src/layouts/Layout.astro
  src/layouts/index.ts
  src/pages/index.astro
  tailwind.config.mjs
  tsconfig.json
Due: pretty, linter

feat(profile): :star: add profile section
  .prettierrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  astro.config.mjs
  bun.lockb
  package.json
  src/assets/index.ts
  src/components/index.ts
  src/components/layout/header/Header.astro
  src/components/layout/header/icons/MoonIcon.astro
  src/components/layout/header/icons/SunIcon.astro
  src/modules/index.ts
  src/modules/profile/Profile.astro
  src/modules/profile/components/ContactLink.astro
  src/modules/profile/icons/GithubIcon.astro
  src/modules/profile/icons/LinkedinIcon.astro
  src/modules/profile/icons/MailIcon.astro
  src/modules/profile/icons/PhoneIcon.astro
  src/pages/index.astro
  tailwind.config.mjs
Due: pretty, linter

feat(experience): :star: add experience component
  src/modules/home/Home.astro
  src/modules/home/experience/Experience.astro
  src/modules/home/experience/components/ExperienceItem.astro
  src/modules/home/profile/Profile.astro
  src/modules/home/profile/components/ContactLink.astro
  src/modules/home/profile/icons/GithubIcon.astro
  src/modules/home/profile/icons/LinkedinIcon.astro
  src/modules/home/profile/icons/MailIcon.astro
  src/modules/home/profile/icons/PhoneIcon.astro
  src/modules/index.ts
  src/pages/index.astro
Due: pretty, linter

feat(project): :star: add project section and fix seo
  public/600x400.svg
  src/modules/home/Home.astro
  src/modules/home/experience/Experience.astro
  src/modules/home/profile/Profile.astro
  src/modules/home/project/Project.astro
  src/modules/home/project/components/ProjectItem.astro
Due: pretty

feat(education): :star: add education section
  src/modules/home/Home.astro
  src/modules/home/education/Education.astro
  src/modules/home/education/components/EducationItem.astro
Due: pretty

chore(project): :gear: optimized project image loading
  src/modules/home/project/Project.astro
  src/modules/home/project/components/ProjectItem.astro
Due: pretty

style(project): :nail_care: update dark and light theme
  src/components/layout/header/Header.astro
  src/components/layout/header/icons/MoonIcon.astro
  src/components/layout/header/icons/SunIcon.astro
  src/layouts/Layout.astro
  src/modules/home/education/components/EducationItem.astro
  src/modules/home/experience/Experience.astro
  src/modules/home/experience/components/ExperienceItem.astro
  src/modules/home/profile/Profile.astro
  src/modules/home/profile/components/ContactLink.astro
  src/modules/home/project/components/ProjectItem.astro
  tailwind.config.mjs
Due: pretty

style(project): :nail_care: handle theme switch
  astro.config.mjs
  bun.lockb
  package.json
  src/components/index.ts
  src/components/layout/header/Header.astro
  src/components/layout/header/components/ThemeSwitch.tsx
  src/components/layout/header/icons/MoonIcon.astro
  src/components/layout/header/icons/SunIcon.astro
  src/layouts/Layout.astro
  src/lib/constants.ts
  tsconfig.json
Due: pretty, linter

feat(profile): :star: update profile information
  src/modules/home/profile/Profile.astro
Due: pretty

style(project): :nail_care: add font-family
  bun.lockb
  package.json
  src/layouts/Layout.astro
Due: pretty

feat(experience): :star: update experience information
  src/modules/home/experience/Experience.astro
  src/modules/home/experience/components/ExperienceItem.astro
  src/modules/home/experience/data/experienceData.ts
  src/modules/home/experience/interfaces/experieceInterface.ts
Due: pretty, linter

feat(project): :star: update project information
  src/modules/home/project/Project.astro
  src/modules/home/project/components/ProjectItem.astro
  src/modules/home/project/data/projectData.ts
  src/modules/home/project/interfaces/projectInterface.ts
Due: pretty, linter

feat(project): :star: add project images
  public/project/image/image-academicrisk.webp
  public/project/image/image-cuartosromero.webp
  public/project/image/image-intiguard.webp
  public/project/image/image-perfigit.webp
  src/modules/home/project/components/ProjectItem.astro
  src/modules/home/project/data/projectData.ts
  src/modules/home/project/interfaces/projectInterface.ts
Due: pretty, linter

fix(project): lazy load project image
  src/modules/home/project/Project.astro
  src/modules/home/project/components/ProjectItem.astro
Due: pretty

feat(education): :star: update education information and refactor global code
  src/modules/home/education/Education.astro
  src/modules/home/education/components/EducationItem.astro
  src/modules/home/education/data/educationData.ts
  src/modules/home/education/interface/educationInterface.ts
  src/modules/home/project/Project.astro
  src/modules/home/project/components/ProjectItem.astro
Due: pretty, linter

chore(favicon): :gear: update favicon briefcase
  public/favicon.svg
Due: none

chore(project): :gear: update title page
  src/layouts/Layout.astro
Due: pretty

fix(profile): :bug: update contact links href
  src/modules/home/profile/Profile.astro
  src/modules/home/profile/components/ContactLink.astro
Due: pretty

chore(project): :gear: align title sections
  src/modules/home/education/Education.astro
  src/modules/home/project/Project.astro
Due: pretty

feat(experience): :star: update experience data
  src/modules/home/experience/data/experienceData.ts
Due: linter

chore(profile): :gear: update profile description
  src/modules/home/profile/Profile.astro
Due: pretty

feat(project): :star: add some changes
  src/components/layout/header/Header.astro
  src/components/layout/header/components/Background.astro
  src/components/layout/header/components/ThemeSwitch.tsx
  src/layouts/Layout.astro
  src/lib/utils.ts
  src/modules/home/experience/data/experienceData.ts
  src/modules/home/project/Project.astro
  src/modules/home/project/components/ProjectItem.astro
  src/modules/home/project/data/projectData.ts
  src/modules/home/project/interfaces/projectInterface.ts
  src/pages/index.astro
  tsconfig.json
Due: pretty, linter

chore(project): :gear: remove lib/utils.ts
  src/lib/utils.ts
Due: linter

chore(project): :gear: update load image
  src/modules/home/project/components/ProjectItem.astro
Due: pretty

feat(project): :star: add tee-craft project
  public/project/image/image-tee-craft.webp
  src/modules/home/education/Education.astro
  src/modules/home/experience/Experience.astro
  src/modules/home/project/Project.astro
  src/modules/home/project/data/projectData.ts
Due: pretty, linter

feat(project): :star: update tee-craft project
  src/modules/home/project/data/projectData.ts
Due: linter

feat(project): :star: update profile description
  src/modules/home/profile/Profile.astro
Due: pretty

style(project): :star: update style project
  public/Cristopher Romero.pdf
  src/components/layout/header/Header.astro
  src/components/layout/header/components/DownloadCV.tsx
  src/components/layout/header/components/ThemeSwitch.tsx
  src/modules/home/profile/Profile.astro
Due: pretty, linter

chore(project): :gear: update perigit href
  src/modules/home/project/data/projectData.ts
Due: linter

Path conditions:
  pretty: any of: **/*.astro
  linter: any of: **/*.{js,ts,jsx,tsx}
